.color-azul {
    background-color: #009DDE;
    padding: 5%;
    color: white;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contenedor {
    display: block;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 130px;
}

